###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
test-ehstr
test-*-dynamic
test-*-static
test-btou
test-decimal-to-hex
test-decimal-to-hex-to-dec-loop
test-ehstrnlen
test-hex-to-decimal
test-revstr
test-trimstr
test-utob

################
# autotools
################
autoscan.log
autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
Makefile
*.tar.gz
stamp-h1
INSTALL
Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
missing
ar-lib
config.guess
config.sub
ltmain.sh
test-driver
.deps/
.libs/
*.lo
*.la
m4/
*.log
*.trs
*.log
build-aux/
.dirstamp
